.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(400px, 50vw, 700px);
}

.create-btn {
  background-color: hsl(120, 84%, 70%);
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  font-size: 20px;
  border: 2px solid rgb(43, 228, 43);
}
.create-btn:hover {
  background-color: hsl(120, 84%, 60%);
  cursor: pointer;
}
.polls {
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.poll-item {
  padding: 5px 10px;
  border-bottom: 2px solid grey;
  cursor: pointer;
}
.poll-item:hover {
  background-color: rgb(228, 228, 228);
}
.poll-link:last-child > .poll-item {
  border-bottom: none;
}
.poll-link {
  text-decoration: none;
  color: black;
}
.answer-btn {
  background-color: hsl(0, 0%, 95%);
  border: none;
  padding: 10px;
}

.answer-btn:hover {
  background-color: hsl(0, 0%, 85%);
  cursor: pointer;
  border-radius: 10px;
}
.default-btn {
  background-color: transparent;
  border: none;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.nav > button {
  flex: 1;
  margin: 20px;
  border-bottom: 3px solid transparent;
}

.nav > button.active {
  border-bottom: 3px solid black;
}

.navbar {
  position: absolute;
  right: 20px;
  top: 20px;
}
.navbar > * {
  margin: 20px;
}
.account-container {
  max-height: 80vh;
  overflow: scroll;
  padding: 20px;
}
